<style>
    .notFoundDiv {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      color: #333;
      text-align: center;
      margin: 100px;
    }

    .notFoundDiv h1 {
      font-size: 3em;
      color: #e74c3c;
    }

    .notFoundDiv p {
      font-size: 1.2em;
      margin-top: 20px;
    }

    .notFoundDiv a {
      color: #3498db;
      text-decoration: none;
      font-weight: bold;
    }

    .notFoundDiv a:hover {
      text-decoration: underline;
    }
</style>
<div class="notFoundDiv">
  <h1>403 Forbidden</h1>
  <% if ( !isloggedin) { %>
    <p>Sie sind nicht eingeloggt. Deswegen könnne Sie auf einige Bereiche nicht zugreifen. Bitte melden Sie sich an.</p>
    <h2><a href="/login">Jetzt einloggen</a></h2>
  <% } else { %>
    <p> Sie haben nicht ausreichend Berechtigung, um auf diesen Bereich zuzugreifen</p>
  <% } %>
    <p><a href="/">Zurück zur Startseite</a></p>
</div>
