<!-- init animate on scroll-->
<script src="/assets/js/animateInit.js"></script>
<!-- init typed.js-->
<script src="/assets/typed/typed.umd.js"></script>
<!-- init sweetalert2-->
<script src="/assets/sweetalert2/sweetalert2.js"></script>

<!-- introduction-->
<section
  class="section section-header text-dark py-5 d-flex align-items-center animate__animated animate__fadeIn"
>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center bg-light">
        <h1 class="display-3 font-weight-bold mb-4 text-primary"><%=pagename %>.</h1>
        <!-- Setup and start animation! -->
        <p class="lead mb-5">
          <%=pagename %> ist Ihre Plattform für die Lehrveranstaltungsplanung. Hier
          können Sie mühelos Ihre Lehrveranstaltungswünsche angeben und das
          Lehrveranstaltungsmanagement kann diese planen und genehmigen lassen.
        </p>
        <a href="#" class="btn btn-outline-primary btn-lg mb-4" id="startButton"
          >Jetzt starten!</a
        >
        <br />
        <p>
          <b>Ein Projekt des Lehrveranstaltungsmanagements der TU Darmstadt:</b>
        </p>
        <img
          class="mx-auto"
          height="100"
          src="/assets/images/logo_fb_mathe.png"
          alt="Status picture"
        />
        <br />
        <br />
        <img
          class="mx-auto"
          height="100"
          src="/assets/images/TU_Darmstadt_Logo.svg"
          alt="TU Darmstadt Logo"
        />
        <br />
        <br />
      </div>
    </div>
  </div>
</section>

<!-- init sweetalert2-->
<script src="/assets/js/startNowClick.js"></script>
<link rel="stylesheet" href="/assets/sweetalert2/sweetalert2.css" />
