<!-- views/footer.ejs -->
<footer class="bg-dark text-light py-4" style="bottom: 0; width: 100vhs">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Datenschutz</h5>
        <p>
          Deine Privatsphäre ist uns wichtig. Hier findest du Informationen zum
          Datenschutz.
        </p>
        <a href="#" class="text-light"
          >Hier klicken, um zur Datenschutzerklärung zu kommen</a
        >
      </div>
      <div class="col-md-4">
        <h5>Impressum</h5>
        <a class="text-light" href="<%= imprinturl %>" id="imprinturl"
          >Hier klicken, um zum Impressum zu kommen.</a
        >
      </div>
      <div class="col-md-4">
        <h5>Kontakt</h5>
        <p>
          Lehrveranstaltungsmanagement Mathematik <br />
          Email: kontakt@beispiel.com<br />
          Telefon: +123 456 789
        </p>
      </div>
    </div>
    <hr class="bg-light" />
    <% if(scoialmedia) {%>
    <div class="row">
      <div class="col-md-12 text-center">
        <!-- Social-Media-Icons -->
        <a href="<%=facebookurl %>" class="text-light mx-2"><i class="fa fa-facebook-f"></i></a>
        <a href="<%=twitterurl %>" class="text-light mx-2"><i class="fa fa-twitter"></i></a>
        <a href="<%=instagramurl %>" class="text-light mx-2"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <% } %>
  </div>
  <div class="text-center">
    <a
      class="text-light mx-2"
      href="https://www.flaticon.com/free-icon/test_1205526?term=exam&page=1&position=10&origin=search&related_id=1205526"
      >Logo by FreePik</a
    >
  </div>

  <script src="/assets/jquery/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</footer>
