<head>
  <title>Materno - Lehrveranstaltungsmanagement</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/fontawesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <style>
    .navbar {
      justify-content: center;
    }
    body {
      min-height: 100vh;
    }
    .contentcont {
      min-height: 95vh;
    }
  </style>
</head>
