<!-- views/index.ejs -->
<!doctype html>
<%- include('header') %>
<html>
  <body>
    <%- include('navbar') %>
    <!-- Hier wird "navbar.ejs" eingebunden -->
    <div class="container mt-4 contentcont">
      <%- include(body) %>
    </div>
    <%- include('footer') %>
  </body>
</html>
