<!-- views/navbar.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top my-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <div class="container" style="display: flex; align-items: center">
        <img
          src="/assets/images/logo.png"
          alt="Materno-Logo"
          class="img-thumbnail img-fluid"
          style="max-width: 32px; height: 100%; margin-top: -5px"
        />
        <h2>Materno</h2>
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Startseite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Meine Prüfungspläne</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manage">Dozenten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/intern">Intern</a>
        </li>
        <% if(faqurlactivemenu) { %>
          <li class="nav-item">
            <a class="nav-link" href="<%=faqurl%>">FAQ</a>
          </li>
        <% } %>
      </ul>
      <ul class="navbar-nav" style="margin-left: auto">
        <li class="nav-item">
          <button class="btn btn-outline-light rounded-pill mx-2">
            <i class="fa fa-user"></i> Login
          </button>
        </li>
        <li class="nav-item dropdown">
          <button
            class="btn btn-outline-light rounded-pill dropdown-toggle"
            id="languageDropdown"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-flag"></i> 🇩🇪
          </button>
          <div class="dropdown-menu" aria-labelledby="languageDropdown">
            <a class="dropdown-item" href="#" id="languageDe">
              <i class="fa fa-flag"></i> Deutsch
            </a>
            <a class="dropdown-item" href="#" id="languageEn">
              <i class="fa fa-flag"></i> English
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="/assets/js/language.js"></script>

<style>
  nav.navbar {
    animation: slideInDown 0.2s ease-in-out;
  }

  @keyframes slideInDown {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
